[submodule "notebooks/Turner_Syncline"]
	path = notebooks/Turner_Syncline
	url = https://github.com/Loop3D/Turner_Syncline
[submodule "notebooks/data"]
	path = notebooks/data
	url = https://github.com/yohanderose/data
