include *.yml
include Dockerfile
include LICENSE
recursive-include engines *.txt
recursive-include notebooks *.cpg
recursive-include notebooks *.csv
recursive-include notebooks *.dbf
recursive-include notebooks *.gml
recursive-include notebooks *.ipynb
recursive-include notebooks *.lock
recursive-include notebooks *.mxd
recursive-include notebooks *.ovr
recursive-include notebooks *.png
recursive-include notebooks *.prj
recursive-include notebooks *.py
recursive-include notebooks *.qgs
recursive-include notebooks *.qgz
recursive-include notebooks *.qpj
recursive-include notebooks *.sbn
recursive-include notebooks *.sbx
recursive-include notebooks *.shp
recursive-include notebooks *.shx
recursive-include notebooks *.svg
recursive-include notebooks *.tfw
recursive-include notebooks *.tif
recursive-include notebooks *.txt
recursive-include notebooks *.xlsx
recursive-include notebooks *.xml
